[NSP]
server = <nsp_server_ip>
user = <username>
password = <password>
access_token = 
refresh_token = 
token_expiry = 

[KAFKA]
bootstrap_servers = <kafka_server_ip>:9192
security_protocol = SSL
ssl_check_hostname = false
ssl_cafile = certs/ca-cert.pem
group_id = nsp-kafka-consumer
auto_offset_reset = latest
enable_auto_commit = true
consumer_timeout_ms = 1000
default_topics = faultmgmt.alarms,faultmgmt.events,notifications.alarms,notifications.faults
